<div class="jumbotron">
  <h2>Welcome to the Photo Management App!</h2>
  <p class="lead">
    You'll love managing your Photos with our application.
  </p>
</div>
<% unless current_user %>
  <div class="card-group">
    <div class="card bg-light mb-3">
      <div class="card-header">
        Premium Plan
      </div>
      <div class="card-body">
        <h5 class="card-title">Price: $10</h5>
        <ul>
          <li>Unlimited Image Uploads</li>
          <li>Responsive design</li>
          <li>Access anywhere</li>
        </ul>
        <%= link_to 'Join', new_user_registration_path, class: 'btn btn-lg btn-primary sign-up' %>
      </div>
    </div>
    <div class="card bg-light mb-3">
      <div class="card-header">
        Gold Plan
      </div>
      <div class="card-body">
        <h5 class="card-title">Price: $20</h5>
        <ul>
          <li>Unlimited Image Uploads</li>
          <li>Responsive design</li>
          <li>Access anywhere</li>
          <li class='extra'>Unlimited projects</li>
        </ul>
        <%= link_to 'Join', new_user_registration_path, class: 'btn btn-lg btn-primary sign-up' %>
      </div>
    </div>
  </div>
<% end %>