.user-name {
  padding: 15px 5px 5px 0!important ;
  text-align: center;
}

a:hover {
  color: #000 !important;
  background-color: transparent !important;
  text-decoration: none !important;
}

.auth-button {
  margin-right: 5px !important;
  margin-top: 7px !important;
  padding: 5px !important;

}

.nav.navbar-nav {
  .navbar-link {
    border-radius: 5px;
    color: #fff;
    margin-top: 15px;
    padding: 8px;

  }
}

.btn {
  color: #fff !important;
  margin-top: 5%;
}
.btn-danger:hover, .btn-danger:focus {
  color: #fff !important;
  background-color: darken(#d9534f,20%) !important;
}
.btn-primary:hover, .btn-primary:focus {
  color: #fff !important;
  background-color: darken(#428bca,20%) !important;
}
.btn-success:hover, .btn-success:focus {
  color: #fff !important;
  background-color: darken(#5cb85c,20%) !important;
  }

.btn-primary:visited, .btn-success:visited, .btn-danger:visited {
  color: #fff;
}

.card-body, .card-header {
  text-align: center;
  ul {
    text-align: justify;
  }
}

.features {
  ul {
    margin-left: 0;
    padding-left: 15px;
  }
}

.jumbotron {
  text-align: center;
  background-image: asset-url('meeting.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-family: 'Helvetica Neue' !important;
  font-stretch: expanded;
  height: 420px;
  text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;

}

.no-left-padding {
  padding-left: 0 !important;
}

.listing {
  list-style: none;
  padding-left: 0;
}