<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to "PhotoApp", root_path, class: "navbar-brand header-link menu" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <% if user_signed_in? %>
        <ul class="navbar-nav mr-auto menu">
          <li class="nav-item">
            <a class="nav-link" href="#">Users</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Photos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to new_image_path, class: 'dropdown-item' do %>
                <%= fa_icon 'camera' %> Add photo
              <% end %>
              <%= link_to images_path, class: 'dropdown-item' do %>
                <%= fa_icon 'picture-o' %> View photos
              <% end %>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Profile
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to edit_user_registration_path(current_user), class: 'dropdown-item' do %>
                <%= fa_icon 'edit' %> Edit
              <% end %>
              <%= link_to user_path(current_user), class: 'dropdown-item', method: :delete, data: { confirm: 'Are you sure that you want delete your profile? This action is not reversible and your stocks and friends list will be dropped.' } do %>
                <%= fa_icon 'trash' %> Delete
              <% end %>
            </div>
          </li>
        </ul>
        <ul class='navbar-nav navbar-right'>
          <li class='nav-item user-name'>
            <%= fa_icon 'user' %> <span class="badge badge-pill badge-info"><%= current_user.email %></span>
          </li>
          <li class='nav-item'>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-danger auth-button'%>
          </li>
        </ul>
      <% else %>
        <ul class='navbar-nav navbar-right'>
          <li class='nav-item'>
            <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary auth-button'%>
          </li>
          <li class='nav-item'>
            <%= link_to 'Login', new_user_session_path, class: 'btn btn-success auth-button'%>
          </li>
        </ul>
      <% end %>
    </div>
  </nav>
</div>